#menu_sidebar {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 36px;
	color: #000000;
	width: 1236px;
	height: 205px;
	position: relative;
	top: 100px;
	left: 332px;
}

.menu_list {
	display: block;
	width: 350px;
	float: left;
	margin: 0;
	padding: 20px 20px 10px 20px;
	/* outline: 2px solid #cccccc; */
}
.menu_list a{
	color: #000000;
	text-decoration: none;
}

.menu_list:hover {
	outline: 2px solid #000000;
}

/* Рисунок для sidebar */
.menu_list:before { 
	margin-right: 10px;
    content: " ";  
    float: left; 
	position: relative; 
	top: -10px;
    background: url(../images/sidebar/ball.png);  
    display: block;  
    height: 74px;  
    width: 74px; 
}
/* Рисунок для sidebar */  

/* Вложенное меню */
.menu_drop{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 1236px;
	height: 0px;
	font-size: 16px;
	color: #000000;
	position: absolute;
	top: 205px;
	left: 0px;
	display: none;
}

.menu_drop a{
	text-decoration: underline;
}

.menu_drop li{
	width: 250px;
	float: left;
	padding: 10px 42px 10px 120px;
}

.menu_list:active .menu_drop {
	display: block;
}

/* Вложенное меню */