.footer_list {
  list-style: none;
  vertical-align: middle;
  width: 50%;
  height: 80px;
}

.footer_list li {
  float: left;
  margin-right: 20px;
}

.footer_list_2 {
  width: 50%;
  height: 80px;
  vertical-align: middle;
  list-style: none;
  font-size: 30px;
}

.footer_list_2 li {
  float: left;
  margin-left: 50px;
}

.footer_list_2 li a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer_list_2 li a:hover {
  color: #FFFFFF;
  outline: 2px solid #FFFFFF;
}

.ad-text-ff {
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

.ad-text-wrapper-ff {
  display: table;
 }

.table-cell-ff {
  display: table-cell;
}

.copyright {
  float: right;
  color: #FFFFFF;
}