#wrapper{
	padding: 0;
	margin: 0 auto;
	width: 1920;
	border: 1px colid #111111;
}

#header{
	height: 90px;
	background-color: #0DF307;
}

#sidebar{
	height: 395px;
	background-color: #A2A0A0;
}

#content{
	
}

#footer{
	height: 120px;
	background-color: #000000;
}