.menu_sidebar {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 36px;
	color: #000000;
	position: relative;
	float: left;
}

.menu_list {
	display: block;
	width: 350px;
	float: left;
	margin: 0;
	padding: 20px 20px 0px 20px;
	/* outline: 2px solid #cccccc; */
}
.menu_list a{
	color: #000000;
	text-decoration: none;
}

.menu_list:hover {
	outline: 2px solid #000000;
}

/* Рисунок для sidebar */
.menu_list:before { 
	margin-right: 10px;
    content: " ";  
    float: left; 
	position: relative; 
	top: -15px;
	left: 0px;
    display: inline-block;  
    height: 71px;  
    width: 71px; 
}

.menu_list.li1:before { 
	background: url(../images/sidebar/shirt.png); 
	}

.menu_list.li2:before { 
	background: url(../images/sidebar/key.png); 
	}

.menu_list.li3:before { 
	background: url(../images/sidebar/work.png); 
	}

.menu_list.li4:before { 
	background: url(../images/sidebar/ball.png); 
	}

.menu_list.li5:before { 
	background: url(../images/sidebar/phone.png); 
	background-repeat:no-repeat;
	background-position:center;
	}

.menu_list.li6:before { 
	background: url(../images/sidebar/home.png); 
	}	

/* Стрелочка справа и ее поворот */
.close.menu_list::after{
	padding: 0;
	margin: 0;
	content: " ";
	position: relative;
	border: 10px solid;
	border-color: transparent transparent transparent #000000;
	float: right;
	top: 10px;
}
.open.menu_list::after{
	padding: 0;
	margin: 0;
	content: " ";
	position: relative;
	border: 10px solid;
	border-color: #000000 transparent transparent transparent ;
	float: right;
	top: 20px;
}
/* Стрелочка справа и ее поворот */
/* Рисунок для sidebar */  

/* Вложенное меню */
.menu_drop{
	list-style: circle;
	font-size: 16px;
	color: #000000;
	position: absolute;
	top: 205px;
	left: 0px;
	display: none;
}

.menu_drop a{
	text-decoration: underline;
}

.menu_drop li{
	width: 250px;
	float: left;
	margin-left: 50px;
	padding: 10px 42px 10px 30px;
}

/* .menu_list:active .menu_drop {
	display: block;
}*/

.menu_drop_hidden {
	display: block;
}
/* Вложенное меню */