#menu_sidebar {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 36px;
	color: #000000;
	width: 1236px;
	height: 205px;
	position: relative;
	top: 100px;
	left: 332px;
}

.menu_list {
	width: 250px;
	float: left;
	padding: 30px 42px 30px 120px;
}
.menu_list a{
	display: block;
	color: #000000;
	text-decoration: none;
}

.menu_list li a:hover {
	outline: 2px solid #000000;
}

/* Вложенное меню */
.menu_drop{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 1236px;
	height: 0px;
	font-size: 16px;
	color: #000000;
	position: absolute;
	top: 205px;
	left: 0px;
	display: none;
}

.menu_drop a{
	text-decoration: underline;
}

.menu_drop li{
	width: 250px;
	float: left;
	padding: 10px 42px 10px 120px;
}

.menu_list:active .menu_drop {
	display: block;
}

/* Вложенное меню */